.profile-container{
    overflow-y: scroll;
    height: 100vh;
}
.image-div{
    position: relative;
}
.profileImage{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    left: calc(50% - 65px);
    top:60px;
}